.shabu-button {
-webkit-font-smoothing: antialiased;
font-family: inherit;
font-size: inherit;
font-weight: normal;
font-size: 18px;
border-radius: 5px;
cursor: pointer;
margin-bottom: 10px;
padding: 20px;
text-align: center;
outline: none;
}

.shabu-button.blue {
background: #3f94d0;
}

.shabu-button.blue:hover{
	background: #3366CC;
}

.shabu-button.blue, .shabu-button.gray {
border: none;
color: white;
}

a.shabu-button {
text-decoration: none !important;
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.signup-button.small {
	padding: 9px;
font-size: 13px;
width: 20%;
height: 10%;
display: block;
margin-bottom: 16px;
}
.signup-button.td {
	padding: 20px;
font-size: 13px;
width: 50%;
height: 1%;
display: block;
}

.signup-button {
width: 50%;
height: 20%;
display: block;
margin-bottom: 16px;
}

td{
	font: helvetica,"helvetica neue",arial,sans-serif;
	color: #3f94d0; 
}

#nOffers{
	color:#3f94d0;
	font: helvetica,"helvetica neue",arial,sans-serif;
}

.nOffers{
	color:#3f94d0;
	font-size: 20px;
	font: helvetica,"helvetica neue",arial,sans-serif;	
}

form{
	font: helvetica,"helvetica neue",arial,sans-serif;;
    color: #c1adcc;
    font-size: 15px;
    font-weight: 400;
}

#currentMatch{
	color: #3f94d0;
	font-family: helvetica,"helvetica neue",arial,sans-serif;
	font-size: 15px;
	font-weight: 400;
}

#profileMatch{
	color: #3366CC;
	font-family: helvetica,"helvetica neue",arial,sans-serif;;
	font-size: 19px;
	font-weight: 400;
}

#red{
	color: #3f94d0;
}

.vertical-line {
	margin-top: 15px;
    border-right: thick solid #3f94d0;
    margin-bottom: 15px;
    padding-bottom: 50px;
}

#rater{
	color: #3f94d0;
	padding-top: 70px;
	font-size: 40px;
	text-transform: uppercase;
}


