.shabu-button {
-webkit-font-smoothing: antialiased;
font-family: inherit;
font-size: inherit;
font-weight: normal;
font-size: 18px;
border-radius: 5px;
cursor: pointer;
margin-bottom: 10px;
padding: 20px;
text-align: center;
outline: none;
}

.shabu-button.blue {
background: #3f94d0;
}

.shabu-button.blue:hover{
	background: #3366CC;
}

.shabu-button.blue, .shabu-button.gray {
border: none;
color: white;
}

a.shabu-button {
text-decoration: none !important;
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.signup-button.small {
	padding: 9px;
font-size: 13px;
width: 20%;
height: 10%;
display: block;
margin-bottom: 16px;
}

.signup-button {
width: 50%;
height: 20%;
display: block;
margin-bottom: 16px;
}


#nOffers{
	color:#3f94d0;
}

form{
	font-family: Bitter, serif;
    color: #c1adcc;
    font-size: 15px;
    font-weight: 400;}